.footer-section-one {

    padding-top: 70px;
    background-color: #191919;
    position: relative;

    .footer-lines {
        position: absolute;
        right: 0;
        bottom: 114px;
    }

    .container {

        .box1 {
            display: none;
            color: rgb(217, 217, 217);
            max-width: 320px;

            img {
                margin-bottom: 45px;
            }
        }

        .grid-box {

            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0 auto 0 auto;
            font-size: 2rem;

            h3 {
                color: red;
                font-size: 3rem;
            }

            .listBox {
                padding-top: 70px;

                .h-3 {
                    color: rgb(217, 217, 217);
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin-top: 35px;

                    a {
                        text-decoration: none;
                        color: rgb(217, 217, 217);
                        font-weight: 500;
                        line-height: 40px;

                        &:hover {
                            color: #898181;
                        }
                    }
                }
            }
        }
    }

    .footer-section-two {
        border-top: 1px solid #3E404D;
        margin-top: 60px;
        padding-bottom: 30px;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: rgb(217, 217, 217);
            margin-top: 30px;

            p {
                margin-bottom: 0;
            }

            .social-media {
                align-items: center;

                a {
                    color: rgb(217, 217, 217);
                    margin-left: 10px;
                    font-size: 1.1em;

                    &:hover {
                        color: #898181;
                    }
                }
            }
        }
    }


    @media (min-width:768px) {

        .footer-lines {
            bottom: 87px;
        }

        .container {

            .grid-box {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                text-align: center;

                h3 {
                    font-size: 2.2rem;
                }
            }
        }
    }

    @media (min-width:1200px) {

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .box1 {
                display: block;
            }

            .grid-box {
                font-size: 1.6rem;
                column-gap: 30px;
                text-align: left;
            }
        }
    }

    @media (min-width:1400px) {

        .container {
            gap: 100px;

            .grid-box {
                column-gap: 70px;
            }
        }
    }
}